- extends "base.haml"
- load custom_filters
- block title
  = block.super
  Calculator
- block content
  
  %ul.breadcrumb
    %li
      Manufacturing
    %li
      %span.divider >
      %a{'href':'{% url manufacturing_select_blueprint %}'}
        Blueprint Search ({{ blueprint.blueprint_type.name }})
    %li
      %span.divider >
        Change Job Parameters
  
  -# This is a bit dirty. There is at the moment only on form "error". It's not
  -# really an error, more a note to the user. So keep that in mind if you add
  -# another form error.
  - if form.non_field_errors
    %div.alert.alert-info
      %strong Please note:
      - for err in form.non_field_errors
        = err

  %form.form-horizontal{'action':'{% url manufacturing_calculator blueprint.blueprint_type.id %}', 'method':'post'}
    - csrf_token
    
    -#
    -# Fieldset for all the information concerning the blueprint:
    -#
    -# - Material Level (ME)
    -# - Productivity Level (PE)
    -# - Number of runs left
    -# - Price (optional)
    -#
    
    %fieldset
      %legend
        Blueprint information
      
      %div{'class':'control-group{{ form.blueprint_material_efficiency|css_error }}'}
        %label.control-label{'for':'id_blueprint_material_efficiency'} Material level (ME)
        .controls
          = form.blueprint_material_efficiency
          - if form.blueprint_material_efficiency.errors
            %span.help-inline
              - for error in form.blueprint_material_efficiency.errors
                = error|escape
  
      %div{'class':'control-group{{ form.blueprint_production_efficiency|css_error }}'}
        %label.control-label{'for':'id_blueprint_production_efficiency'} Productivity Level (PE)
        .controls
          = form.blueprint_production_efficiency
          - if form.blueprint_production_efficiency.errors
            %span.help-inline
              - for error in form.blueprint_production_efficiency.errors
                = error|escape
        
      %div{'class':'control-group{{ form.blueprint_runs|css_error }}'}
        %label.control-label{'for':'id_blueprint_runs'} Number of runs
        .controls
          = form.blueprint_runs
          - if form.blueprint_runs.errors
            %span.help-inline
              - for error in form.blueprint_runs.errors
                = error|escape
      
      %div{'class':'control-group{{ form.blueprint_price|css_error }}'}
        %label.control-label{'for':'id_blueprint_price'} Blueprint copy price
        .controls
          = form.blueprint_price
          - if form.blueprint_price.errors
            %span.help-inline
              - for error in form.blueprint_price.errors
                = error|escape

    -#
    -# Fieldset for the players skills and hardwirings:
    -#
    -# - Industry skill level
    -# - Production efficiency skill level
    -# - Hardwiring
    -#

    %fieldset
      %legend
        Your skills and hardwirings
        
      - if request.user.is_authenticated and form.has_character
        %div{'class':'control-group{{ form.character|css_error }}'}
          %label.control-label{'for':'id_character'} Select your character
          .controls
            = form.character
            - if form.character.errors
              %span.help-inline
                - for error in form.character.errors
                  = error|escape
      - else
  
        %div{'class':'control-group{{ form.skill_industry|css_error }}'}
          %label.control-label{'for':'id_skill_industry'} Industry skill level
          .controls
            = form.skill_industry
            - if form.skill_industry.errors
              %span.help-inline
                - for error in form.skill_industry.errors
                  = error|escape
    
        %div{'class':'control-group{{ form.skill_production_efficiency|css_error }}'}
          %label.control-label{'for':'id_skill_production_efficiency'} Production efficiency skill level
          .controls
            = form.skill_production_efficiency
            - if form.skill_production_efficiency.errors
              %span.help-inline
                - for error in form.skill_production_efficiency.errors
                  = error|escape
      
      %div{'class':'control-group{{ form.hardwiring|css_error }}'}
        %label.control-label{'for':'id_hardwiring'} Hardwiring
        .controls
          = form.hardwiring
          - if form.hardwiring.errors
            %span.help-inline
              - for error in wizard.hardwiring.errors
                = error|escape
    
    -#
    -# Fieldset for all information about the players manufacturing installation:
    -#
    -# - Production slot time modifier
    -#
    
    %fieldset
      %legend
        Manufacturing installation information
      
      %div{'class':'control-group{{ form.slot_production_time_modifier|css_error }}'}
        %label.control-label{'for':'id_slot_production_time_modifier'} Production slot time modifier
        .controls
          = form.slot_production_time_modifier
          - if form.slot_production_time_modifier.errors
            %span.help-inline
              - for error in form.slot_production_time_modifier.errors
                = error|escape
      
      %div{'class':'control-group{{ form.slot_material_modifier|css_error }}'}
        %label.control-label{'for':'id_slot_material_modifier'} Production slot material modifier
        .controls
          = form.slot_material_modifier
          - if form.slot_material_modifier.errors
            %span.help-inline
              - for error in form.slot_material_modifier.errors
                = error|escape
    
    -#
    -# Fieldset for additional information that influence the profitability calculation
    -#
    -# - Target sell price
    -#
    
    %fieldset
      %legend
        Sale Information
      
      %div{'class':'control-group{{ form.target_sell_price|css_error }}'}
        %label.control-label{'for':'id_target_sell_price'} Target sell price
          %a{'href':'#', 'rel':'tooltip', 'title':'Price = The Forge Sell Median'}
            %i.icon-white.icon-question-sign
          - if request|is_igb
            %a{'href':'#', 'rel':'tooltip', 'onclick':'CCPEVE.showMarketDetails({{ blueprint.product_type.id }})', 'title':'Press to open Market for this item.'}
              %i.icon-white.icon-shopping-cart
        .controls
          = form.target_sell_price
          - if form.target_sell_price.errors
            %span.help-inline
              - for error in form.target_sell_price.errors
                = error|escape
      
      %div{'class':'control-group{{ form.brokers_fee|css_error }}'}
        %label.control-label{'for':'id_brokers_fee'} Broker's fee (%)
        .controls
          = form.brokers_fee
          - if form.brokers_fee.errors
            %span.help-inline
              - for error in form.brokers_fee.errors
                = error|escape

      %div{'class':'control-group{{ form.sales_tax|css_error }}'}
        %label.control-label{'for':'id_sales_tax'} Sales tax (%)
        .controls
          = form.sales_tax
          - if form.sales_tax.errors
            %span.help-inline
              - for error in form.sales_tax.errors
                = error|escape

    .control-group
      .controls
        %button.btn.btn-success{'type':'submit'}
          Calculate

- block scripts
  %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/manufacturing.js'}