- extends "base.haml"
- load custom_filters
- block title
  element43 - {{user.username}} - Settings
- block content
  %h1
    {{user.username}}
  .row-fluid
    .span3
      %ul.nav.nav-tabs.nav-stacked
        %li.active
          %a{'href':'{% url settings %}'}
            Modify Profile
        %li
          %a{'href':'{% url manage_characters %}'}
            Manage Characters  
        %li
          %a{'href':'{% url manage_api_keys %}'}
            Manage API Keys
    .span9.well
      - if form.non_field_errors
        .alert.alert-error
          %i.icon-white.icon-warning-sign
          = form.non_field_errors
      %form.form-horizontal{'action':'{% url settings %}', 'method':'post'}
        %fieldset
          - csrf_token
          %legend
            Modify Profile
          %div{'class':'control-group'}
            %label.control-label{'for':'username'} Username
            .controls
              %b
                %div{'style':'padding-top: 4px;'} 
                  {{user.username}}
          %div{'class':'control-group{{form.email|css_error}}'}
            %label.control-label{'for':'email'} E-Mail
            .controls
              = form.email
              - if form.email.errors
                %span.help-inline
                  - for error in form.email.errors
                    = error|escape
          %div{'class':'control-group{{form.new_password|css_error}}'}
            %label.control-label{'for':'new_password'} New Password
            .controls
              = form.new_password
              - if form.new_password.errors
                %span.help-inline
                  - for error in form.new_password.errors
                    = error|escape
              %p.help-block
                %b Note:
                %i Never ever 
                use the same password as for EVE!
          %div{'class':'control-group{{form.new_password_repeat|css_error}}'}
            %label.control-label{'for':'new_password_repeat'} Repeat New Password
            .controls
              = form.new_password_repeat
              - if form.new_password_repeat.errors
                %span.help-inline
                  - for error in form.new_password_repeat.errors
                    = error|escape
          %hr
          %div{'class':'control-group{{form.password|css_error}}'}
            %label.control-label{'for':'password'} Current Password
            .controls
              = form.password
              - if form.password.errors
                %span.help-inline
                  - for error in form.password.errors
                    = error|escape
        %hr
        .control-group
          .controls
            %button.btn.btn-primary{'type':'submit'}
              Update Profile
            
            
      