- extends "base.haml"
- load custom_filters
- block title
  = block.super
  Reset Password
- block content
  %h1
    Reset Your Password
  - if form.non_field_errors
    .alert.alert-error
      %i.glyphicon.glyphicon-warning-sign
      = form.non_field_errors
  %form.form-horizontal.well{'action':'{% url \'reset_password\' %}', 'method':'post'}
    - csrf_token
    %legend
      Get a new password
    %div{'class':'form-group{{form.username|css_error}}'}
      %label.col-lg-2{'for':'username'} Username
      .col-lg-4
        = form.username
        - if form.username.errors
          %span.help-block
            - for error in form.username.errors
              = error|escape
    %div{'class':'form-group{{form.email|css_error}}'}
      %label.col-lg-2{'for':'email'} E-Mail
      .col-lg-4
        = form.email
        - if form.email.errors
          %span.help-block
            - for error in form.email.errors
              = error|escape
    .form-group
      .col-lg-4.col-lg-offset-2
        %button.btn.btn-warning{'type':'submit'}
          Reset password