- extends "base.haml"
- load custom_filters humanize element43_humanize compress
- block title
  = block.super
  Manufacturing Job Result
- block content

  %span#blueprint_runs{'style':'display:none;'}
    = data.blueprint_runs

  %ul.breadcrumb
    %li
      Manufacturing
    %li
      %a{'href':'{% url \'manufacturing_select_blueprint\' %}'}
        Blueprint Search ({{ data.blueprint_name }})
    %li
      %a{'href':'{% url \'manufacturing_calculator\' data.blueprint_type_id %}'}
        Change Job Parameters
    %li.active
      Result

  %h3
    Bill of Materials ({{ data.blueprint_runs|intcomma }} Runs -
    %span#produced_units
      {{ data.produced_units|intcomma }}
    Unit{{ data.produced_units|pluralize }})

  %form.form-inline
    %table#billofmaterials.table.table-striped
      %thead
        %tr
          %th
            Material
          %th
            Price (ISK)
            %a{'href':'#', 'rel':'tooltip', 'title':'All prices are The Forge Sell Median'}
              %i.glyphicon.glyphicon-question-sign
          %th.text-right
            Quantity
          %th.text-right
            Price Total (ISK)
          %th.text-right
            Volume (m³)
      %tfoot
        %tr
          %td
          %td
          %td.text-right
            %strong
              Total
          %td.text-right
            %strong#materials_cost_total_bom
              = data.materials_cost_total|floatformat:2|intcomma
          %td.text-right
            %strong
              = data.materials_volume_total|floatformat:2|intcomma
      %tbody
      - for material in data.materials
        %tr
          %td
            - if not request|is_igb
              %img{'src': '{{ IMAGE_SERVER }}/Type/{{ material.id }}_16.png' }
              = material.name
            - else
              %a{'href':'#', 'onclick':'CCPEVE.showMarketDetails({{ material.id }})'}
                = material.name
          %td
            %input.form-control.input-sm.editable{'type': 'text', 'value': '{{material.price|floatformat:2|intcomma}}', 'id': 'material_{{ material.id }}' }
          %td.text-right
            %span{'id': 'material_quantity_{{ material.id }}'}
              = material.quantity|intcomma
          %td.text-right
            %span{'id': 'material_price_{{ material.id }}'}
              = material.price_total|floatformat:2|intcomma
          %td.text-right
            = material.volume|floatformat:2|intcomma

  %h3
    Cost and Profit Overview

  %table.table.table-striped
    %thead
      %tr
        %th
        %th.text-right
          Per Unit
        %th.text-right
          Total
    %tbody
      %tr
        %td
          Build time:
        %td.text-right
          = data.production_time_run|floatformat:0|humanize_time:"seconds"
        %td.text-right
          = data.production_time_total|humanize_time:"seconds"
      %tr
        %td
          Target sell price:
        %td.text-right
          %span#revenue_unit
            = data.revenue_unit|floatformat:2|intcomma
          ISK
        %td.text-right
          %span#revenue_total
            = data.revenue_total|floatformat:2|intcomma
          ISK
      %tr
        %td
          Material cost:
        %td.text-right
          \-
          %span#materials_cost_unit
            = data.materials_cost_unit|floatformat:2|intcomma
          ISK
        %td.text-right
          \-
          %span#materials_cost_total
            = data.materials_cost_total|floatformat:2|intcomma
          ISK

      - if data.blueprint_cost_unit
        %tr
          %td
            Blueprint cost:
          %td.text-right
            \-
            %span#blueprint_cost_unit
              = data.blueprint_cost_unit|floatformat:2|intcomma
            ISK
          %td.text-right
            \-
            %span#blueprint_cost_total
              = data.blueprint_cost_total|floatformat:2|intcomma
            ISK
      - if data.brokers_fee_unit
        %tr
          %td
            Brokers Fee:
          %td.text-right
            \-
            %span#brokers_fee_unit
              = data.brokers_fee_unit|floatformat:2|intcomma
            ISK
          %td.text-right
            \-
            %span#brokers_fee_total
              = data.brokers_fee_total|floatformat:2|intcomma
            ISK

      - if data.sales_tax_unit
        %tr
          %td
            Sales Tax:
          %td.text-right
            \-
            %span#sales_tax_unit
              = data.sales_tax_unit|floatformat:2|intcomma
            ISK
          %td.text-right
            \-
            %span#sales_tax_total
              = data.sales_tax_total|floatformat:2|intcomma
            ISK
      %tr
        %td
          Total cost:
        %td.text-right
          \-
          %span#total_cost_unit
            = data.total_cost_unit|floatformat:2|intcomma
          ISK
        %td.text-right
          \-
          %span#total_cost_total
            = data.total_cost_total|floatformat:2|intcomma
          ISK
      %tr{'style': 'border-top: 2px solid #fff'}
        %td
          Profit overall:
        %td.text-right
          %span#profit_unit{'class': '{% if data.profit_unit > 0 %}green{% else %}red{% endif %}' }
            - if data.profit_unit > 0
              +
            = data.profit_unit|floatformat:2|intcomma
          ISK
        %td.text-right
          %span#profit_total{'class': '{% if data.profit_unit > 0 %}green{% else %}red{% endif %}' }
            - if data.profit_unit > 0
              +
            = data.profit_total|floatformat:2|intcomma
          ISK
      %tr
        %td
          Profit per hour:
        %td.text-right
          &nbsp;
        %td.text-right
          %span#profit_total_hour{'class': '{% if data.profit_total_hour > 0 %}green{% else %}red{% endif %}' }
            = data.profit_total_hour|floatformat:2|intcomma
          ISK
      %tr
        %td
          Profit per day:
        %td.text-right
          &nbsp;
        %td.text-right
          %span#profit_total_day{'class': '{% if data.profit_total_day > 0 %}green{% else %}red{% endif %}' }
            = data.profit_total_day|floatformat:2|intcomma
          ISK
      %tr
        %td
          Profit percentage:
        %td.text-right
          &nbsp;
        %td.text-right
          %span#profit_total_percent
            = data.profit_total_percent|floatformat:2|intcomma
          \%


- block scripts
  - compress js
    %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/manufacturing.js'}
    %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/numberformat.js'}