- extends "base.haml"
- load custom_filters compress
- block title
  = block.super
  Blueprint Search
- block content

  %h2 Blueprint Search

  %form#select_blueprint_form.form-horizontal{'action': '{% url \'manufacturing_select_blueprint\' %}', 'method':'post'}
    - csrf_token

    %div{'class':'form-group{{ form.blueprint|css_error }}'}
      %label.col-lg-2{'for':'id_blueprint'} Blueprint name
      %div.col-lg-4
        = form.blueprint
        - if form.blueprint.errors
          %span.help-block
            - for error in form.blueprint.errors
              = error|escape
    %div.form-group
      %div.col-lg-4.col-lg-offset-2
        %button.btn.btn-success{'type':'submit'}
          Search

  - if manufacturing_blueprint_history and not blueprints
    %h3
      Your {{ MANUFACTURING_MAX_BLUEPRINT_HISTORY }} most recent blueprints
    %table.table.table-striped.table-condensed
      %tbody
        - for blueprint in manufacturing_blueprint_history
          %tr
            %td
              - if not request|is_igb
                %img{'src':format('{{ IMAGE_SERVER }}/Type/{{ blueprint.id }}_32.png'), 'alt':'type image'}
              %a{'href': '{% url \'manufacturing_calculator\' blueprint.id %}'}
                = blueprint.name

  - if blueprints
    %h3
      Select your Blueprint
    %table.table.table-striped.table-condensed
      %tbody
        - for blueprint in blueprints
          %tr
            %td
              - if not request|is_igb
                %img{'src':format('{{ IMAGE_SERVER }}/Type/{{ blueprint.blueprint_type.id }}_32.png'), 'alt':'type image'}
              %a{'href': '{% url \'manufacturing_calculator\' blueprint.blueprint_type.id %}'}
                = blueprint.blueprint_type.name

- block scripts
  - compress js
    %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/manufacturing.js'}
    %script{'type':'text/javascript'}
      $(document).ready(function() {$('#id_blueprint').focus(); });