- extends "base.haml"
- load custom_filters
- block title
  element43 - Reset Password
- block content
  %h1
    Reset Your Password
  - if form.non_field_errors
    .alert.alert-error
      %i.icon-white.icon-warning-sign
      = form.non_field_errors
  %form.form-horizontal.well{'action':'/register/reset_password/', 'method':'post'}
    %fieldset
      - csrf_token
      %legend
        Get a new password
      %div{'class':'control-group{{form.username|css_error}}'}
        %label.control-label{'for':'username'} Username
        .controls
          = form.username
          - if form.username.errors
            %span.help-inline
              - for error in form.username.errors
                = error|escape
      %div{'class':'control-group{{form.email|css_error}}'}
        %label.control-label{'for':'email'} E-Mail
        .controls
          = form.email
          - if form.email.errors
            %span.help-inline
              - for error in form.email.errors
                = error|escape
      .control-group
        .controls
          %button.btn.btn-warning{'type':'submit'}
            Reset password