- extends "base.haml"
- load humanize compress custom_filters
- block title
  = block.super
  Know the Market
- block top
  - if not request.user.is_authenticated
    .jumbotron
      %h1 More bang for the buck!
      %p
        Welcome to element43, an open-source all-in-one tool providing you with all the information
        you need to get the most out of your hard-earned ISK. Best of all: it's completely free!
      %p
        %a.btn.btn-primary.btn-lg{'href':'{% url \'registration\' %}'}
          Get started now »
- block content
  .row
    .col-md-8
      %h2 Live Mineral Index and PLEX - Jita / The Forge
     %table.table.table-striped.table-condensed{'style':'table-layout: fixed;'}
       %thead
         %tr
           %th{'style':'border: none;'}
           %th{'colspan':'3', 'text-align':'center', 'style':'border: none;'}
             Bid
           %th{'colspan':'3', 'text-align':'center', 'style':'border: none;'}
             Ask
         %tr
           %th
           %th
             %a{'href':'#', 'rel':'tooltip', 'title':'Highest bid price in Jita.'}
               Highest Price
           %th
             %a{'href':'#', 'rel':'tooltip', 'title':'Median of all bids in The Forge.'}
               Median
           %th
             %a{'href':'#', 'rel':'tooltip', 'title':'Change from yesterday&#039;s median of bids in The Forge.'}
               Move
           %th
             %a{'href':'#', 'rel':'tooltip', 'title':'Lowest ask price in Jita.'}
               Lowest Price
           %th
             %a{'href':'#', 'rel':'tooltip', 'title':'Median of all asks in The Forge.'}
               Median
           %th
             %a{'href':'#', 'rel':'tooltip', 'title':'Change from yesterday&#039;s median of asks in The Forge.'}
               Move
       %tbody#live-values
         - for item in types
           - with itemid=item.id|slugify
            - with statobject=stats.typestats|key:itemid
                %tr
                  %td
                    %a{'href':'{% url \'quicklook\' type_id=item.id %}'}
                      - if item.name == "30 Day Pilot's License Extension (PLEX)"
                        PLEX
                      - else
                        {{item.name}}
                  %td
                    %span{'id':'bid_max_{{item.id}}', 'data-isk':'{{statobject.bid_max|floatformat:"2"}}'}
                      {{statobject.bid_max|floatformat:"2"|intcomma}}
                  %td
                    %span{'id':'bid_median_{{item.id}}', 'data-isk':'{{statobject.bid_median|floatformat:"2"}}'}
                      {{statobject.bid_median|floatformat:"2"|intcomma}}
                  %td
                    - if statobject.bid_median_move == 0
                      %span{'id':'bid_median_move_{{item.id}}', 'data-isk':'{{statobject.bid_median_move|floatformat:"2"}}'}
                        +0.00
                    - elif statobject.bid_median_move > 0
                      %span.green{'id':'bid_median_move_{{item.id}}', 'data-isk':'{{statobject.bid_median_move|floatformat:"2"}}'}
                        +{{statobject.bid_median_move|floatformat:"2"|intcomma}}
                    - elif statobject.bid_median_move < 0
                      %span.red{'id':'bid_median_move_{{item.id}}', 'data-isk':'{{statobject.bid_median_move|floatformat:"2"}}'}
                        +{{statobject.bid_median_move|floatformat:"2"|intcomma}}
                    - else
                      %span{'id':'bid_median_move_{{item.id}}', 'data-isk':'{{statobject.bid_median_move|floatformat:"2"}}'}
                        +0.00
                  %td
                    %span{'id':'ask_min_{{item.id}}', 'data-isk':'{{statobject.ask_min|floatformat:"2"}}'}
                      {{statobject.ask_min|floatformat:"2"|intcomma}}
                  %td
                    %span{'id':'ask_median_{{item.id}}', 'data-isk':'{{statobject.ask_median|floatformat:"2"}}'}
                      {{statobject.ask_median|floatformat:"2"|intcomma}}
                  %td
                    - if statobject.bid_median_move == 0
                      %span{'id':'ask_median_move_{{item.id}}', 'data-isk':'{{statobject.ask_median_move|floatformat:"2"}}'}
                        +0.00
                    - elif statobject.ask_median_move > 0
                      %span.green{'id':'ask_median_move_{{item.id}}', 'data-isk':'{{statobject.ask_median_move|floatformat:"2"}}'}
                        +{{statobject.ask_median_move|floatformat:"2"|intcomma}}
                    - elif statobject.ask_median_move < 0
                      %span.red{'id':'ask_median_move_{{item.id}}', 'data-isk':'{{statobject.ask_median_move|floatformat:"2"}}'}
                        +{{statobject.ask_median_move|floatformat:"2"|intcomma}}
                    - else
                      %span{'id':'ask_median_move_{{item.id}}', 'data-isk':'{{statobject.ask_median_move|floatformat:"2"}}'}
                        +0.00
    .col-md-4
      %h2 Contribute
      %p
        Element43 is an open-source project based on the Python web framework Django.
        If you have some feedback for us or want to contribute to the project, click the button below.
      %a.btn.btn-primary{'href':'{% url \'about_page\' %}'}
        Get involved »
  %hr
  .row
    .col-md-4
      %h2 Market Data
      %p
        Trading sounds simple. Buy low, sell high. But where to find the best deals?
        Element43 relies on user-submitted data from the EVE Market Data Relay (EMDR) network.
        Help us to improve our database by using an EMDR compatible uploader.
      %a.btn.btn-primary{'href':'http://eve-market-data-relay.readthedocs.org/en/latest/uploading.html', 'target':'_blank'}
        Download Client »
    #history.col-md-8

  %hr
    .row
      .col-md-6
        %h3 EMDR Stats (per minute)
        %table.table.table-striped.table-condensed
          %tbody
            %tr
              %td.col-md-3
                New Orders
              %td#new_orders.col-md-3
                = stats.new_orders|intcomma
            %tr
              %td.col-md-3
                Updated Orders
              %td#updated_orders.col-md-3
                = stats.updated_orders|intcomma
            %tr
              %td.col-md-3
                Old Orders
              %td#old_orders.col-md-3
                = stats.old_orders|intcomma
            %tr
              %td.col-md-3
                History messages
              %td#history_messages.col-md-3
                = stats.history_messages|intcomma
      .col-md-6
        %h3 Platform Stats
        %table.table.table-striped.table-condensed
          %tbody
            %tr
              %td.col-md-3
                Active Orders
              %td#active_orders.col-md-3
                = stats.active_orders|intcomma
            %tr
              %td.col-md-3
                Archived Orders
              %td#archived_orders.col-md-3
                = stats.archived_orders|intcomma
            %tr
              %td.col-md-3
                History Records
              %td#history_records.col-md-3
                = stats.history_records|intcomma
- block scripts
  - compress js
    %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/jquery.pulse.js'}
    %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/home.js'}
  %script{'type':'text/javascript'}
    var region = {{region}};
    var types = {{type_ids}};