- extends "base.haml"
- block title
  = block.super
  Search
- block content
  %h1
    Search
  - ifequal types|length 0
   - ifequal stations|length 0
      .alert.alert-info
        %i.glyphicon.glyphicon-warning-sign
        We could not find anything with that name or your request was too generic.
  - if types
    %h2 Types
    %table.table.table-striped.table-condensed
      %tbody
        - for type in types
          %tr
            %td{'width':'32px'}
              %a{'href':'{% url \'quicklook\' type_id=type.id %}'}
                %img{'src':format('{{ IMAGE_SERVER }}/Type/{{ type.id }}_32.png'), 'alt':'type image'}
            %td
              %a{'href':'{% url \'quicklook\' type_id=type.id %}'}
                = type.name
            %td
                = type.description|truncatechars:128
  - if stations
    %h2 Stations
    %table.table.table-striped.table-condensed
      %tbody
        - for station in stations
          %tr
            %td
              %a{'href':'{% url \'station\' station_id=station.id %}'}
                = station.name
            %td
                = station.description|truncatechars:128

