- load humanize custom_filters
%table.table.table-striped.table-condensed
  %thead
    %tr
      %th
        Location
      %th.text-right
        Remaining
      %th.text-right
        Minimum Volume
      %th.text-right
        Price
      %th.text-right
        Last Seen
      %th.text-center
        %a{'href':'#', 'rel':'tooltip', 'title':'Indicates if order looks suspicious'}
          %i.glyphicon.glyphicon-question-sign
  %tbody
    - for order in buy_orders
      %tr
        %td
          %span{'class':'sec{{order.mapsolarsystem.security_level|sec0to10}}'}
            • {{order.mapsolarsystem.security_level|sec0to1}}
          %a{'href':'{% url \'quicklook_region\' region_id=order.mapregion.id type_id=type.id %}'}
            = order.mapregion.name
          \-
          %a{'href':'{% url \'station\' station_id=order.stastation.id %}', 'rel':'tooltip', 'title': '{{order.stastation.name}}'}
            = order.stastation.name|truncate_station_name
        %td.text-right
          = order.volume_remaining|intcomma
        %td.text-right
          = order.minimum_volume|intcomma
        %td.text-right
          = order.price|floatformat:"2"|intcomma
        %td.text-right
          = order.generated_at|naturaltime
        %td.text-center
          - if order.is_suspicious
            %span.sec0
              •
          - else
            %span.sec8
              •
        // ID: {{order.id}}
