- extends "base.haml"
- load humanize custom_filters compress
- block title
  = block.super
  Market - {{type.name}}
- block content
  - include '_group_breadcrumbs.haml'
  .row
    .col-md-2
        -# Tabs
        %ul#tabs.nav.nav-pills.nav-stacked
          %li.active
            %a#overview_link{'href':'#overview', 'data_toggle':'pill'} Overview
          %li
            %a#region_link{'href':'#regions', 'data_toggle':'pill'} Regions
          %li
            %a#ask_link{'href':'#ask', 'data_toggle':'pill'} Ask / Sell
          %li
            %a#bid_link{'href':'#bid', 'data_toggle':'pill'} Bid / Buy
          - if materials
            %li
              %a#mats_link{'href':'#mats', 'data_toggle':'pill'} Materials
    .col-md-10
      #filters{'style':'margin-bottom: 1em; display:none;'}
        .row
          .col-md-2
          .col-md-4
            %h5
              Minimal System Security
            #system-security.sec4
              0.4
            #security-slider
          .col-md-4
            %h5
              Maximum Data Age
            %span#data-age
            %span
              Hours
            #age-slider
          .col-md-2
        .row
          .col-md-5
          .col-md-2{'style':'margin-top: 2em; text-align:center;'}
            #filter-button.btn.btn-primary
              Filter Orders
      .tab-content
        #overview.tab-pane.fade.active.in
          %h1
            = type.name
          .row
            .col-md-1
              %img{'src':'{{IMAGE_SERVER}}/Type/{{type.id}}_64.png', 'alt':'type image'}
            .col-md-11
              %p
                Volume: {{type.volume|intcomma}}m&#179;
              %p
                = type.description|striptags
          .row
            .col-md-12
              #history
              %h3 Ask / Sell
              %table.table.table-striped.table-condensed
                %thead
                  %tr
                    %th
                      Location
                    %th.text-right
                      Price
                    %th.text-right
                      Quantity
                    %th.text-right
                      Last Updated
                %tbody
                  - for order in sell_orders|slice:":5"
                    %tr
                      %td
                        %span{'class':'sec{{order.mapsolarsystem.security_level|sec0to10}}'}
                          • {{order.mapsolarsystem.security_level|sec0to1}}
                        %a{'href':'{% url \'quicklook_region\' type_id=type.id region_id=order.mapregion.id %}'}
                          = order.mapregion.name
                        \-
                        %a{'href':'{% url \'station\' station_id=order.stastation.id %}'}
                          = order.stastation.name
                      %td.text-right
                        = order.price|floatformat:"2"|intcomma
                      %td.text-right
                        = order.volume_remaining|intcomma
                      %td.text-right
                        = order.generated_at|naturaltime
              .text-right
                .btn.btn-primary{'onclick':'$("#ask_link").trigger("click");'}
                  %i.glyphicon.glyphicon-chevron-right
                  More
              %h3 Bid / Buy
              %table.table.table-striped.table-condensed
                %thead
                  %tr
                    %th
                      Location
                    %th.text-right
                      Price
                    %th.text-right
                      Quantity
                    %th.text-right
                      Last Updated
                %tbody
                  - for order in buy_orders|slice:":5"
                    %tr
                      %td
                        %span{'class':'sec{{order.mapsolarsystem.security_level|sec0to10}}'}
                          • {{order.mapsolarsystem.security_level|sec0to1}}
                        %a{'href':'{% url \'quicklook_region\' type_id=type.id region_id=order.mapregion.id %}'}
                          = order.mapregion.name
                        \-
                        %a{'href':'{% url \'station\' station_id=order.stastation.id %}'}
                          = order.stastation.name
                      %td.text-right
                        = order.price|floatformat:"2"|intcomma
                      %td.text-right
                        = order.volume_remaining|intcomma
                      %td.text-right
                        = order.generated_at|naturaltime
              .text-right
                .btn.btn-primary{'onclick':'$("#bid_link").trigger("click");'}
                  %i.glyphicon.glyphicon-chevron-right
                  More
        #regions.tab-pane.fade
          %img{'src':'/static/images/loading.gif'}
          %i
            Loading regional data - this can take some seconds...
        #bid.tab-pane.fade
          - include '_quicklook_bid.haml'
        #ask.tab-pane.fade
          - include '_quicklook_ask.haml'
        #mats.tab-pane.fade
          %table.table.table-striped.table-condensed
            %thead
              %tr
                %th
                  Material
                %th.text-right
                  Quantity
                %th.text-right
                  Forge Median PPU
                %th.text-right
                  Jita Min PPU
                %th.text-right
                  Total Median Materials Cost
            %tbody
            - for material in materials
              %tr
                %td
                  // If you are using CCP's image server make sure to reference the _32 image size since they don't provide a _16
                  %img{'src':'{{IMAGE_SERVER}}/Type/{{material.material_type__id}}_16.png', 'width':'16', 'height':'16', 'alt':'type image'}
                    %a{'href':'{% url \'quicklook\' type_id=material.material_type__id %}'}
                      {{material.material_type__name}}
                %td.text-right
                  = material.quantity|intcomma
                %td.text-right
                  = material.price|floatformat:"2"|intcomma
                %td.text-right
                  = material.min_price|floatformat:"2"|intcomma
                %td.text-right
                  = material.total|floatformat:"2"|intcomma
            %tr
            %tr
              %td
              %td
              %td
              %td.text-right
                %b
                  TOTAL PRICE:
              %td.text-right
                %b
                  = totalprice|floatformat:"2"|intcomma

          * Assumes perfect refining

          ** If pricing shows "0" it means we do not have enough data from Jita to estimate
- block scripts
  %script{'type':'text/javascript'}
    var invTypeID = {{type.id}};
    var invTypeName = "{{type.name}}";
    var mapRegionIDs = {{region_ids}};
    var mapRegions = {{region_names|safe}};
  - compress js
    %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/quicklook.js'}
    %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/quicklook_graph.js'}