- extends "base.haml"
- load humanize
- load custom_filters
- block title
  element43 - Market - {{region.name}} - {{type.name}}
- block content
  - include 'market/_group_breadcrumbs.haml'
  %h1
    {{region.name}} - {{type.name}}
  .row
    .span2
      %img{'src':'http://image.eveonline.com/type/{{type.id}}_64.png', 'alt':'type image'}
    .span9
      %p
        Volume: {{type.volume|intcomma}}m&#179;
      %p
        = type.description
  #history
  %ul#tabs.nav.nav-tabs
    %li.active
      %a{'href':'#systems', 'data_toggle':'tab'} Systems
    %li
      %a{'href':'#ask', 'data_toggle':'tab'} Ask
    %li
      %a{'href':'#bid', 'data_toggle':'tab'} Bid
    - if materials
      %li
        %a{'href':'#mats', 'data_toggle':'tab'} Materials
  .tab-content
    #ask.tab-pane.fade
      %table.table.table-striped.table-condensed
        %thead
          %tr
            %th
              Location
            %th.text-right
              Remaining
            %th.text-right
              Price
            %th.text-right
              Last Seen
            %th.text-center
              %a{'href':'#', 'rel':'tooltip', 'title':'Indicates if order looks suspicious'}
                %i.icon-white.icon-question-sign
            %th.text-center
              %a{'href':'#', 'rel':'tooltip', 'title':'Indicates an order is selling below the median cost of its components'}
        %tbody
          - for order in sell_orders
            %tr
              %td
                %span{'class':'sec{{order.mapsolarsystem.security_level|sec0to10}}'}
                  • {{order.mapsolarsystem.security_level|sec0to1}}
                {{order.mapregion.name}} - {{order.stastation.name}}
              %td.text-right
                = order.volume_remaining|intcomma
              %td.text-right
                = order.price|floatformat:"2"|intcomma
              %td.text-right
                = order.generated_at|naturaltime
              %td.text-center
                - if order.is_suspicious
                  %span.sec0
                    •
                - else
                  %span.sec8
                    •
              // ID: {{order.id}}
    #bid.tab-pane.fade
      %table.table.table-striped.table-condensed
        %thead
          %tr
            %th
              Location
            %th.text-right
              Remaining
            %th.text-right
              Price
            %th.text-right
              Last Seen
            %th.text-center
              %a{'href':'#', 'rel':'tooltip', 'title':'Indicates if order looks suspicious'}
                %i.icon-white.icon-question-sign
        %tbody
          - for order in buy_orders
            %tr
              %td
                %span{'class':'sec{{order.mapsolarsystem.security_level|sec0to10}}'}
                  • {{order.mapsolarsystem.security_level|sec0to1}}
                {{order.mapregion.name}} - {{order.stastation.name}}
              %td.text-right
                = order.volume_remaining|intcomma
              %td.text-right
                = order.price|floatformat:"2"|intcomma
              %td.text-right
                = order.generated_at|naturaltime
              %td.text-center
                - if order.is_suspicious
                  %span.sec0
                    •
                - else
                  %span.sec8
                    •
              // ID: {{order.id}}
    #systems.tab-pane.fade.active.in
      %h3 Systems
      %table.table.table-striped.table-condensed
        %thead
          %tr
            %th
              System
            %th
            %th.text-right
              Low
            %th.text-right
              High
            %th.text-right
              Avg
            %th.text-right
              Median
            %th.text-right
              Standard Deviation
            %th.text-right
              Lots
            %th.text-right
              Volume
        %tbody
        - for system in systems
            %tr
              %td
                = system.0
              %td
                Ask
              %td.text-right
                = system.8|floatformat:2|intcomma
              %td.text-right
                = system.9|floatformat:2|intcomma
              %td.text-right
                = system.10|floatformat:2|intcomma
              %td.text-right
                = system.11|floatformat:2|intcomma
              %td.text-right
                = system.12|floatformat:2|intcomma
              %td.text-right
                = system.13|intcomma
              %td.text-right
                = system.14|intcomma
            %tr
              %td
              %td
                Bid
              %td.text-right
                = system.1|floatformat:2|intcomma
              %td.text-right
                = system.2|floatformat:2|intcomma
              %td.text-right
                = system.3|floatformat:2|intcomma
              %td.text-right
                = system.4|floatformat:2|intcomma
              %td.text-right
                = system.5|floatformat:2|intcomma
              %td.text-right
                = system.6|intcomma
              %td.text-right
                = system.7|intcomma
    #mats.tab-pane.fade
      %table.table.table-striped.table-condensed
        %thead
          %tr
            %th
              Material
            %th.text-right
              Quantity
            %th.text-right
              Jita Median Price Per Unit
            %th.text-right
              Total Materials Cost
        %tbody
        - for material in materials
          %tr
            %td
              %a{'href':'/market/{{material.material_type__id}}'}
                {{material.material_type__name}}
            %td.text-right
              {{material.quantity}}
            %td.text-right
              = material.price|floatformat:"2"|intcomma
            %td.text-right
              = material.total|floatformat:"2"|intcomma
        %tr
        %tr
          %td
          %td
          %td.text-right
            %b
              TOTAL PRICE:
          %td.text-right
            %b
              = totalprice|floatformat:"2"|intcomma
      
      * Assumes perfect refining
      
      ** If pricing shows "0" it means we do not have enough data from Jita to estimate
                
- block scripts
  %script{'type':'text/javascript'}
    var invTypeID = {{type.id}};
    var invTypeName = "{{type.name}}";
    var mapRegionID = {{region.id}};
    var mapRegionName = "{{region.name}}";
  %script{'type':'text/javascript', 'src':'/static/javascripts/quicklook.js'}